body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#ff7aa2, #ffb3c7);
  text-align: center;
  color: white;
}

/* الباسورد */
.login {
  margin-top: 120px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#error {
  margin-top: 10px;
  color: yellow;
}

/* المحتوى */
.hidden {
  display: none;
}

.section {
  padding: 80px 20px;
}

.text {
  font-size: 20px;
  line-height: 1.8;
}

/* السلايدر */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.slider img {
  width: 250px;
  border-radius: 15px;
}
